.box {
  /* Base styles for the box component */
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}
.box img {
  min-height: 225px;
}
.h2,
h2 {
  font-size: 20px;
  text-wrap: wrap;
}

.image-box {
  /* Additional styles for the image box */
  padding: 1rem; /* Add padding for spacing */
}
